name: Build & Push Docker Image (on Release)

on:
  release:
    types: [published]   # release "Publish" 버튼 눌렀을 때만

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            juhobag/vuefinder-frontend:${{ github.event.release.tag_name }}
            juhobag/vuefinder-frontend:latest
